
Teste/.idea/.name

*.iml

Trabalho2-KDD/.idea/.name

Trabalho2-KDD/.idea/encodings.xml

Trabalho2-KDD/.idea/misc.xml

Trabalho2-KDD/.idea/modules.xml

Teste/.idea/modules.xml

Teste/.idea/encodings.xml

*.xml

Trabalho3-KDD/.idea/.name
